html, body {
    height: 100%;
}

html, body, a, a:hover {
    cursor: url('../assets/cursor.cur'), auto;
}


a {
    color: #888888;
    text-decoration: none;
    /*cursor: pointer;*/
}

a:hover {
    color: #b09bd5;
    border-color: #f0bfb3 !important;
}

#main-container {
    margin: auto;
    background: white;
    max-width: 900px;
    text-align: center;
    padding: 15px 50px 30px;
}

.title {
    color: #fff;
    font-family: oswald;
    font-size: 2vw;
    font-style: italic;
    text-shadow: 0 0 10px #000;
    padding: 1vw;
}

#list-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    gap: .5vw;
    width: 95vw;
}

.item-container {
    width: 18.6vw;
    position: relative;
    background-color: #fffc;
    margin: 0;
    display: block;
    font-family: Verdana;
    text-align: center;
    color: #333;
    font-size: 1vw;
    border: 1px solid var(--main-color-lighter);
    transition: 200ms;
}

.item-container img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.item-container p {
    margin: .2vw .5vw .5vw;
}