section {
    width: 545px;
}

.main-content {
    width: auto;
}

.nnb {
    width: 200px;
}

.nnb a {
    display: inline-block;
    width: calc(34% - 5px);
    border-bottom: 0;
    padding-bottom: 0;
    margin: 0 5px 5px 0;
}

.nnb a:nth-child(3n+3) {
    margin-right: 0;
}

section a {
    border-bottom: 1px solid #B09BD5;
}
