/* guardians */
.profiles {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
}

#people {
    display: flex;
    max-width: 90vw;
    margin: 0 auto;
    padding: 50px 0px;
    overflow: auto;
}

.photodiv {
    margin: 2px;
    position: relative;
    height: 25.8vw;
    overflow: hidden;
    background-color: #fff5;
    border: 1px solid #fff;
}

.animation {
    animation-iteration-count: 1;
}

.photodiv:nth-of-type(1) {
    margin-top: 100px;
}

.photodiv:nth-of-type(3n-2) {
    margin-top: 80px;
}

.photodiv:nth-of-type(3n) {
    margin-top: 150px;
}

.photoname {
    font-size: 20px;
    background-color: var(--main-color-transparent);
    position: absolute;
    width: 7.6vw;
    height: 25.8vw;
    z-index: 3;
    text-orientation: sideways;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.photoname:hover {
    opacity: 1;
}

.photodiv:nth-child(1) .photoname {background-color: #FFD80077;}
.photodiv:nth-child(2) .photoname {background-color: #FFFFFF77;}
.photodiv:nth-child(3) .photoname {background-color: #F93A3A77;}
.photodiv:nth-child(4) .photoname {background-color: #F9943A77;}
.photodiv:nth-child(5) .photoname {background-color: #F9F93A77;}
.photodiv:nth-child(6) .photoname {background-color: #8EF93A77;}
.photodiv:nth-child(7) .photoname {background-color: #3AE2F977;}
.photodiv:nth-child(8) .photoname {background-color: #3A57F977;}
.photodiv:nth-child(9) .photoname {background-color: #713AF977;}
.photodiv:nth-child(10) .photoname {background-color: #F93ABF77;}
.photodiv:nth-child(11) .photoname {background-color: #00000077;}
.photodiv:nth-child(12) .photoname {background-color: #80808077;}

.pointer {
    cursor: pointer;
}

.rotate {
    color: #fff;
    letter-spacing: 3px;    
    height: 7vw;
    width: 25.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    -webkit-transform: rotate(-90deg) translateY(-3%);
    -moz-transform: rotate(-90deg) translateY(-3%);
    -ms-transform: rotate(-90deg) translateY(-3%);
    -o-transform: rotate(-90deg) translateY(-3%);
    transform: rotate(-90deg) translateY(-3%);
    text-shadow: 0 0 10px #fff;
    text-shadow: 0 0 10px #000;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.photoname[data-target="unknown"] .rotate {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.photodiv img {
    vertical-align: middle;
    border-style: none;
}

.profiles img {
    width: 7.6vw;
    height: 25.8vw;
    object-fit: cover;
    transform: scale(238%) translateY(10%);
    position: relative;
}

.profiles img.unknown {
    transform: scale(.8) translateX(-3%);
    object-fit: contain;
}

.profiles div img {
    filter: brightness(1.1);
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    backdrop-filter: blur(6px);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
    max-width: 600px;
    color: var(--font-color);
}

.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: auto;
}

.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    content: "";
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    background-color: rgba(255,255,255,0.4);
    background-clip: padding-box;
    border: 1px solid white;
    height: 500px;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    display: flex;
    padding: 10px;
    height: 100%;
}

.modal-img {
    width: 250px;
    object-fit: cover;
    margin-right: 10px;
}

.modal-info {
    font-size: 12px;
    background: rgba(255,255,255,0.6);
    padding: 10px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    display: inline-grid;
    height: 100%;
    overflow: hidden;
    align-content: baseline;
}

#modal-name {
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    background-color: var(--main-color-lighter);
    color: #fff;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    height: 40px;
    margin-bottom: 12px;
}

#modal-name p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.modal-attributes .data {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: none;
    padding: 0 10px;
}

.data-label {
    color: var(--main-color);
    letter-spacing: 2px;
    font-weight: bold;
}

.modal-description {
    text-align: justify;
    overflow: auto;
    padding-right: 10px;
    margin-bottom: 0;
    position: relative;
    display: block;
}

li.link-profile {
    font-weight: bold;
    font-style: italic;
    margin: 10px 0;
}


/*
animation: drop 1.5s ease forwards; ?????
*/

/* end guardians */