aside, section, nav, article, header, bar {
    -webkit-animation-name: fade-in;
    -moz-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

/* --- nav --- */

.tai, .block .ti, nav, .title {
    letter-spacing: 1.4px;
    font-size: 11px;
    line-height: 1.6em;
}

/* ---  Character Scrollbars ---  */

div::-webkit-scrollbar {width:4px;background-color:#ffffff;}
div::-webkit-scrollbar-thumb {background-color:#86649b;}
div::-webkit-scrollbar-corner {background-color:#ffffff;}

/* ---  General ---  */

body {
    color:#000000;
    background-color:#8d7caa;
    font-smooth:always;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
#et {
    background:transparent;
    color:#000000;
    background:transparent;
    right:0px;
    bottom:0px;
    padding:5px;
    position:fixed;
    letter-spacing:1px;
    opacity:0.4;
}

#et a {
    color:#000000;
    text-decoration:none;
    border:0px;
}

/* ---  Tumblr Controls ---  */

iframe.tmblr-iframe {
    z-index:5!important;
    top:0px!important;
    right:-10!important;
    opacity:0.6;
    padding-right:10px;
    transform:scale(0.6);
    transform-origin:100% 0;
    -webkit-transform:scale(0.6);
    -webkit-transform-origin:100% 0;
    -o-transform:scale(0.6);
    -o-transform-origin:100% 0;
    -moz-transform:scale(0.6);
    -moz-transform-origin:100% 0;
    -ms-transform:scale(0.6);
    -ms-transform-origin:100% 0;
}

/* ---  Topbar ---  */

#topbar {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:90px;
    text-align:center;
    background-color:#ffffff;
    border-bottom:1px solid #86649b;
    z-index:3;
}

.topbartitle {
    margin-top:25px;
    margin-bottom:20px;
    font-family: 'Oswald', sans-serif;
    font-size:28px;
    text-transform:uppercase;
    font-style:italic;
    letter-spacing:1px;
    color:#888888;
}

#topbar a {
    background-color:#ffffff;
    padding:4px 10px 4px 10px;
    margin:0 3px 0 3px;
    color:#888888;
    text-transform:uppercase;  
    text-decoration:none;
    border:0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#topbar a:hover {
    background-color:#ffffff;
    color:#b09bd5;
}

/* ---  Character Box ---  */

.characters {
    display:inline-grid;
    width:386px;
    background:#ffffff;
    padding:0px 5px 0px 5px;
    margin-bottom:20px;
    text-align:left;
    height: 780px;
}

.characters:nth-child(2n+2) {
    margin-left: 23px;
}

.charimg {
    width:auto;
    height:auto;
    padding:10px;
    -webkit-transition: all 350ms linear;
    -moz-transition: all 350ms linear;
    -ms-transition: all 350ms linear;
    -o-transition: all 350ms linear;
    transition: all 350ms linear;
}

.charimg img {
    width: 100%;
}

/* ---  Character Info ---  */

.charinfo {
    line-height: 12px;
    font-size:10px;
    width: auto;
    height: 200px;
    overflow: auto;
    padding-left:5px;
    font-style:normal;
    margin-left:3px;
    margin-bottom: 15px;
    scrollbar-width: thin; /* firefox */
}

.charname {
    font-family: 'Oswald', sans-serif;
    color:#555;
    padding:10px 0 10px 0;
    font-size:20px;
    font-style:italic;
    text-align:center;
    text-transform:uppercase;
    margin-bottom:-9px!important;
}

a.charnav, a.charnav:visited, a.charnav:hover {
    display: block;
    padding-top:3px;
    color:#222222;
    text-transform:uppercase;
    text-align:left;
    border-right: solid 0px #fff;
    font-style:italic;
    text-decoration:none;
}

a.charnav:hover {color:#b09bd5;}


.characters b {
    text-transform:uppercase;
    font-weight:bold;
    color:#000000;
}

.bio {
    color:#555555;
    text-transform:uppercase;
    text-align:center!important;
    font-weight:bold;
}
