#stories-list {
    display: flex;
    gap: 2vw;
    padding: 2vw;
    flex-wrap: wrap;
    margin: auto;
    width: 83vw;
}

.story-container {
    width: 25vw;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    height: 35vw;
    box-shadow: 0 0 4px #0005;
    padding: .5vw;
    scale: 1;
    transition: scale 200ms;
    
}

.story-container.hidden::before {
    content: 'OCULTO';
    position: absolute;
    background-color: crimson;
    color: #fff;
    padding: .2vw .4vw;
    font-size: .7vw;
    z-index: 4;
    top: 1vw;
    left: 1vw;
    font-weight: bold;
}

.story-container:hover {
    box-shadow: 0 0 10px #0005;
    scale: 1.05;
}

.story-cover-container {
    height: 32vw;
    overflow: hidden;
    background-color: #ddd;
}

.story-image.empty {
    position: relative;
    object-fit: cover;
    object-position: center;
    display: block;
    height: 100%;
    width: 100%;
}

.story-image.empty {
    filter: grayscale(1);
}

.story-name {
    font-family: oswald;
    font-size: 1.4vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--main-color);
}

.story-author {
    font-style: italic;
    font-size: 1vw;
    font-weight: bold;
}

.story-author::before {
    content: 'Autor: ';
}

.story-status {
    background-color: var(--main-color);
    position: absolute;
    padding: .3vw .5vw;
    text-transform: uppercase;
    color: #FFF;
    font-size: .7vw;
    top: 0;
    right: 0;
}

#episodes-modal {
    position: fixed;
    background-color: #0005;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.episodes-container {
    height: 100%;
    display: grid;
}

.episode-list {
    padding: .8vw;
    background-color: #fff;
    width: 40vw;
    margin: auto;
    border: 1px solid var(--main-color);
}

.story-title {
    color: var(--main-color);
    font-family: Oswald, sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    font-style: italic;
}

.story-episodes-title {
    text-transform: uppercase;
    font-stretch: condensed;
    padding: 0.6vw 0 0.2vw;
    color: var(--main-color-lighter);
    font-weight: bold;
    font-size: 0.9vw;
}

.episodes {
    max-height: 50vh;
    border: 1px solid;
    padding: 0 0.5vw;
    overflow: auto;
}

/* EPISODE SECTION */
#dev-menu {
    position: fixed;
    background-color: crimson;
    padding: 1vw;
    z-index: 100000;
    bottom: 1vw;
    left: 1vw;
    border-radius: .5vw;
    width: 12vw;
}

.dev-header {
    font-family: oswald;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.3vw;
}

#dev-menu input {
    border: 1px solid #fffa;
    outline: 0;
    font-family: verdana;
    text-transform: uppercase;
    font-style: italic;
    padding: .2vw .6vw;
    width: 100%;
    background-color: #970c28;
    color: #fff;
    border-radius: .3vw;
    text-align: center;
}

.episode-container {
    display: flex;
    font-size: 1vw;
    padding: 0.5vw 0;
}

.episode-container:hover {
    background: linear-gradient(90deg, rgba(199,137,224,0) 0%, rgba(199,137,224,0.1) 30%, rgba(199,137,224,0.1) 70%, rgba(199,137,224,0) 100%);
}

.episode-container + .episode-container {
    border-top: 1px dashed;
}

.episode-info {
    width: 90%;
}

.episode-title {
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    color: var(--main-color);
    font-size: 1.3vw;
}

.played .episode-title::after {
    content: 'LEÍDO';
    font-family: Arial;
    font-size: .7vw;
    vertical-align: top;
    margin: 0 .5vw;
    font-style: italic;
    background-color: #2bb628;
    color: #fff;
    padding: .2vw .5vw;
    border-radius: 1vw;
    font-stretch: condensed;
    white-space: -moz-pre-space;
}

.episode-description {
    font-style: italic;
    text-align: justify;
}

.play-episode {
    width: 9%;
    display: grid;
    text-align: center;
    align-self: center;
    font-size: 2vw;
    color: var(--main-color);
    border: 1px solid;
    padding: 0.5vw;
    margin: .1vw .1vw .1vw 2vw;
}

.play-episode:hover {
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
}

#episode {
    display: none;
}

.episode-content {
    padding: 1vw;
    background-color: #fff;
    margin: 1vw auto;
    position: relative;
}

.objectives-container {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 60px;
    left: -200px;
    background-color: var(--main-color-transparent);
    border-radius: 10px 0 0 10px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    font-stretch: condensed;
    border-right: none;
}

.panel-title {
    position: absolute;
    font-family: oswald;
    top: -31px;
    text-transform: uppercase;
    font-size: 25px;
    text-shadow: 0 0 6px #0009;
    left: 20px;
}

.obj-list {
    height: 100%;
    overflow: auto;
}

.objectives-container ul {
    margin: 0;
    padding: 10px 15px;
    list-style: inside;
}

.obj-list li.completed {
    text-decoration-line: line-through;
    font-style: italic;
    color: #fff6;
}

.back-button {
    font-size: 1.5vw;
    position: absolute;
    left: 1.5vw;
    top: 1.2vw;
}

.back-button::before {
    border-color: transparent #fff transparent transparent;
    border-width: 0.66vw 1.2vw 0.66vw 0;
    border-style: solid;
    display: inline-block;
    position: relative;
    content: '';
    margin-right: 0.6vw;
}

#player {
    background-color: #000;
    background-size: 765px 450px;
    height: 450px;
    width: 765px;
    position: relative;
    overflow: hidden;
    background-position: center center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
}

/* PLAYER ZONE */
/* Animaciones */
@-webkit-keyframes fade-in {
    0%   { opacity: 0; }
    50%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade-in {
    0%   { opacity: 0; }
    50%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in {
    0%   { opacity: 0; }
    50%   { opacity: 0; }
    100% { opacity: 1; }
}

.bubbleInfo {
    width: 765px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    top: -30px;
    position: relative;
}

.bubbleInfo div {
    max-width: 350px;
    background: #fff;
    position: relative;
    top: 0;
    display: inline-block;
    padding: 20px;
    border: 1px solid #000;
    color: #000;
    font-size: 14px;
    font-style: italic;
}

.bubbleText {
    font-weight: bold;
    background: rgba(247, 247, 247, 0.85);
    max-width: 150px;
    top: -40px;
    position: relative;
    left: 90px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid #8d7caa;
    font-size: 13px;
    box-shadow: 2px 2px 5px #8d7caa;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    z-index: 2;
}

.bubbleText.duo {
    left: 0;
    top: -80px;
    margin: auto;
}

.bubbleText.trio {
    top: -120px;
    left: 100px;
    margin: auto;
}

.bubbleText.multi {
    position: absolute;
}

.choice {
    padding: 3px;
}

.choiceTextRpg {
    z-index: 100;
    margin: 0 auto;
    position: absolute;
    bottom: 4%;
    left: 2%;
    right: 8%;
    font-family: inherit;
    background: -moz-linear-gradient(left, rgba(134, 100, 155, 0.9) 0%, rgba(182, 161, 202, 0.9) 60%, rgba(213, 202, 202, 0.6) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(134, 100, 155, 0.9)), color-stop(60%, rgba(182, 161, 202, 0.9)), color-stop(100%, rgba(213, 202, 202, 0.6)));
    background: -webkit-linear-gradient(left, rgba(134, 100, 155, 0.9) 0%, rgba(182, 161, 202, 0.9) 60%, rgba(213, 202, 202, 0.6) 100%);
    background: -o-linear-gradient(left, rgba(134, 100, 155, 0.9) 0%, rgba(182, 161, 202, 0.9) 60%, rgba(213, 202, 202, 0.6) 100%);
    background: -ms-linear-gradient(left, rgba(134, 100, 155, 0.9) 0%, rgba(182, 161, 202, 0.9) 60%, rgba(213, 202, 202, 0.6) 100%);
    background: linear-gradient(to right, rgba(134, 100, 155, 0.9) 0%, rgba(182, 161, 202, 0.9) 60%, rgba(213, 202, 202, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e62e0035', endColorstr='#990f47ae', GradientType=1);
    color: rgba(246, 246, 246, 1);
    padding: 1%;
    font-size: 15px;
    width: 88%;
    display: none;
}

.choiceTextRpg .choice, .adminChoiceTextRpg .choice {
    cursor: pointer;
    line-height: 100%;
    word-break: break-word;
    padding-right: 15%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.choice:hover {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#player .text {
    z-index: 100;
    text-align: justify;
    position: absolute;
    overflow: hidden;
    background: -moz-linear-gradient(top, rgba(180, 146, 168, 0.85) 0%, rgba(141, 124, 170, 0.85) 89%, rgba(118, 100, 123, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(180, 146, 168, 0.85)), color-stop(89%, rgba(141, 124, 170, 0.85)), color-stop(100%, rgba(118, 100, 123, 0.85)));
    background: -webkit-linear-gradient(top, rgba(180, 146, 168, 0.85) 0%, rgba(141, 124, 170, 0.85) 89%, rgba(118, 100, 123, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(180, 146, 168, 0.85) 0%, rgba(141, 124, 170, 0.85) 89%, rgba(118, 100, 123, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(180, 146, 168, 0.85) 0%, rgba(141, 124, 170, 0.85) 89%, rgba(118, 100, 123, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(180, 146, 168, 0.85) 0%, rgba(141, 124, 170, 0.85) 89%, rgba(118, 100, 123, 0.85) 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d900515d', endColorstr='#4d001935', GradientType=0);*/
    line-height: 1em;
    font-size: 20px;
}

#player .text > div {
    color: rgba(246, 246, 246, 1);
    padding: 19px 19px 30px;
    box-sizing: border-box;
}

.typewriter-letter {
    opacity: 0;
    font-style: italic;
}

#player img.special {
    position: absolute;
    cursor: pointer;
}

.npc, .pet {
    width: 765px;
    height: 450px;
    display: block;
    position: absolute;
    text-align: center;
    /*-webkit-animation-name: fade-in; Se añade dinámicamente*/
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.npc img {
    display: inline-block;
    position: relative;
    height: auto;
    top: -50px;
}

.pet img {
    position: relative;
    display: inline-block;
}

.own-npc {
	position: absolute;
	bottom: 0;
	right: -44px;
	width: 275px;
	overflow: hidden;
	height: 330px;
	pointer-events: none;
}

.npcRpg {
    position: relative;
    z-index: -1;
	max-width: 420px;
	max-height: 594px;
}


.changeLocation {
    width: 18px;
    height: 18px;
    position: absolute !important;
    border-radius: 14px;
    border: 2px solid #98780c;
    box-shadow: -1px -1px 1px #b9994a, 1px 1px 1px #b9994a, -1px 1px 1px #b9994a, 1px -1px 1px #b9994a;
    background: #ffbc00;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.5em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    font-weight: bold;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Functions ingame */
.ingame_button {
    background-color: var(--main-color);
    color: #fff;
    padding: 7px 10px;
    text-transform: uppercase;
    margin: 20px auto;
    position: relative;
    text-align: center;
    align-self: end;
    font-size: 14px;
    border: 1px solid var(--main-color);
    transition: 200ms;
}

.ingame_button a {
    text-decoration: none;
    color: inherit;
}

.ingame_button:hover a {
    text-decoration: none;
    color: inherit;
}

.ingame_button:hover {
    background-color: #fff;
    color: var(--main-color);
}