@-webkit-keyframes fade-in {
    0%   { opacity: 0; }
    50%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade-in {
    0%   { opacity: 0; }
    50%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in {
    0%   { opacity: 0; }
    50%   { opacity: 0; }
    100% { opacity: 1; }
}

ul {
	padding-left: 25px;
	margin: 0;
}

code {
	display: block;
	text-align: center;
	padding: 15px;
    padding-bottom: 0;
}

input {
    background-color: #86649b;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.objectives ul .done {
    text-decoration-line: line-through;
}

.tai.checkpoint {
    padding-bottom: 5px;
    border-bottom: 1px solid #f8f8f8;
    margin-bottom: 5px;
}


#story .title, #episodes .title {
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 25px;
}

/* Lista de episodios */
#episode-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.episode:nth-child(2n+1) {
    margin-right: 20px;
}
.episode {
    padding: 15px;
    border: 1px solid #b492a8;
    width: calc(50% - 42px);
    margin-bottom: 20px;
}

.episode.code {
    width: 733px;
    text-align: center;
}

.episode-title {
    text-align: center;
    width: 100%;
    display: block;
    border-bottom: 1px solid #b492a8;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #b492a8;
}

.episode-description {
    text-align: justify;
}

.button {
    display: inline-block;
    position: relative;
    padding: 5px;
    border: 1px solid #f6f6f6;
    width: 60px;
    cursor: pointer;
    background-color: #8d7caa;
    color: #f6f6f6;
}

.button:hover {
    background: #f6f6f6;
    border: 1px solid #8d7caa;
    color: #8d7caa;
}

#load-episode {
    width: auto;
    padding: 10px;
}

/* Episodio en curso */
.objectives, .inventory {
    height: 60px;
    overflow-y: auto;
    margin: 10px 0;
}

#episode-container {
    width: auto;
    background-size: cover;
    height: 450px;
    position: relative;
    overflow: hidden;
    background-color: #000;
    background-position: center center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

#episode-back {
    border-width: 7px 13px 7px 0;
    border-style: solid;
    border-color: transparent #8d7caa transparent transparent;
    overflow: auto;
    position: absolute;
    top: 27px;
    cursor: pointer;
}

#episode-container .text {
    z-index: 100;
    text-align: justify;
    position: absolute;
    overflow: hidden;
    background: -moz-linear-gradient(top, rgba(180, 146, 168, 0.85) 0%, rgba(141, 124, 170, 0.85) 89%, rgba(118, 100, 123, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(180, 146, 168, 0.85)), color-stop(89%, rgba(141, 124, 170, 0.85)), color-stop(100%, rgba(118, 100, 123, 0.85)));
    background: -webkit-linear-gradient(top, rgba(180, 146, 168, 0.85) 0%, rgba(141, 124, 170, 0.85) 89%, rgba(118, 100, 123, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(180, 146, 168, 0.85) 0%, rgba(141, 124, 170, 0.85) 89%, rgba(118, 100, 123, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(180, 146, 168, 0.85) 0%, rgba(141, 124, 170, 0.85) 89%, rgba(118, 100, 123, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(180, 146, 168, 0.85) 0%, rgba(141, 124, 170, 0.85) 89%, rgba(118, 100, 123, 0.85) 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d900515d', endColorstr='#4d001935', GradientType=0);*/
    line-height: 1em;
    font-size: 20px;
    
    
}

#episode-container .text > div {
    color: rgba(246, 246, 246, 1);
    padding: 19px 19px 30px;
    box-sizing: border-box;
}

.typewriter-letter {
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
}



.bubbleText {
    font-weight: bold;
    background: rgba(247, 247, 247, 0.85);
    max-width: 150px;
    top: 100px;
    position: absolute;
    left: 90px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid #8d7caa;
    font-size: 13px;
    box-shadow: 2px 2px 5px #8d7caa;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
}

.bubbleInfo {
    width: 765px;
    height: 450px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.bubbleInfo div {
    max-width: 350px;
    background: #fff;
    position: relative;
    top: -50px;
    display: inline-block;
    padding: 20px;
    border: 1px solid #000;
    color: #000;
    font-size: 14px;
}

.choice {
    padding: 3px;
}

.choiceTextRpg {
    z-index: 100;
    margin: 0 auto;
    position: absolute;
    bottom: 4%;
    left: 2%;
    right: 8%;
    font-family: inherit;
    background: -moz-linear-gradient(left, rgba(134, 100, 155, 0.9) 0%, rgba(182, 161, 202, 0.9) 60%, rgba(213, 202, 202, 0.6) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(134, 100, 155, 0.9)), color-stop(60%, rgba(182, 161, 202, 0.9)), color-stop(100%, rgba(213, 202, 202, 0.6)));
    background: -webkit-linear-gradient(left, rgba(134, 100, 155, 0.9) 0%, rgba(182, 161, 202, 0.9) 60%, rgba(213, 202, 202, 0.6) 100%);
    background: -o-linear-gradient(left, rgba(134, 100, 155, 0.9) 0%, rgba(182, 161, 202, 0.9) 60%, rgba(213, 202, 202, 0.6) 100%);
    background: -ms-linear-gradient(left, rgba(134, 100, 155, 0.9) 0%, rgba(182, 161, 202, 0.9) 60%, rgba(213, 202, 202, 0.6) 100%);
    background: linear-gradient(to right, rgba(134, 100, 155, 0.9) 0%, rgba(182, 161, 202, 0.9) 60%, rgba(213, 202, 202, 0.6) 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e62e0035', endColorstr='#990f47ae', GradientType=1);*/
    color: rgba(246, 246, 246, 1);
    padding: 1%;
    font-size: 15px;
    width: 88%;
}

.choiceTextRpg .choice, .adminChoiceTextRpg .choice {
    cursor: pointer;
    line-height: 100%;
    /*-webkit-transition: all 0.2s ease-in-out;*/
    word-break: break-word;
    padding-right: 15%;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
}

.choice:hover {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.2s ease-in-out;
}

.npc, .pet {
    width: 765px;
    height: 450px;
    display: block;
    position: absolute;
    text-align: center;
    /*-webkit-animation-name: fade-in;*/
    -webkit-animation-duration: 0.2s;
}

.npc img {
    display: inline-block;
    position: relative;
    height: auto;
    top: -50px;
}

.pet img {
    position: relative;
    display: inline-block;
}

.own-npc {
	position: absolute;
	bottom: 0;
	right: -44px;
	width: 275px;
	overflow: hidden;
	height: 330px;
	pointer-events: none;
}

.npcRpg {
    position: relative;
    z-index: -1;
	max-width: 420px;
	max-height: 594px;
}

.changeLocation {
    width: 14px;
    height: 14px;
    position: absolute !important;
    border-radius: 14px;

    border: 2px solid #98780c;
    box-shadow: -1px -1px 1px #b9994a, 1px 1px 1px #b9994a, -1px 1px 1px #b9994a, 1px -1px 1px #b9994a;
    background: #ffbc00;

/*    border: 2px solid #34386f;
    box-shadow: -1px -1px 1px rgb(0,238,248), 1px 1px 1px rgb(0,238,248), -1px 1px 1px rgb(0,238,248), 1px -1px 1px rgb(0,238,248);
    background: rgb(96, 238, 249);
  */  cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}